<!-- app/views/nodes/index.html.erb -->

<div class="node-tree">
  <h1 class="node-center-title">Nodes List</h1>
  <div class="node-center">
    <%= link_to 'New Node', new_node_path, class: 'btn-new-node' %>
  </div>

  <ul class="node-branches">
    <% @nodes.where(parent_id: nil).each do |node| %>
      <%= render 'node', node: node, level: 0, on_index: true %>
    <% end %>
  </ul>
</div>
