<!-- app/views/nodes/index.html.erb -->

<h1>Nodes List</h1>
<ul>
  <% @nodes.each do |node| %>
    <li>
      <%= link_to node.title, node_path(node) %>
      <%= link_to 'Delete', node_path(node), data: { turbo_confirm: "Are you sure?", turbo_method: :delete } %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Node', new_node_path %>
